body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.history-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;

}

.history-section h2 {
    text-align: center;
    margin: 10px;
}

.branch-detail th,
.branch-detail td {
    text-align: left;
    padding: 5px;
}

.history-table {
    width: 100%;
}

.history-section .btn-discard {
    background-color: white;
    border: 1px solid rgb(4, 184, 255);
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: bolder;
    color: rgb(4, 184, 255);
    border-radius: 5px;
    cursor: pointer;

}

@media (max-width: 768px) {
    .history-section {

        padding: 6px;
    }

    .history-table tr th,
    .history-table tr td {
        font-size: 14px;
    }

    .history-section h2 {
        font-size: 20px;
    }

    .history-section .btn-discard {
        padding: 8px 12px;
        font-size: 14px;
    }

    .history-section {

        margin-top: 10px;
        margin-bottom: 10px;

    }
}